@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.woff2');
}

@font-face {
    font-family: 'Garet';
    src: url('../fonts/garet/Garet-Book.woff2'), 
         url('../fonts/garet/Garet-Book.ttf');
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?78838771');
    src: url('../fonts/fontello/fontello.eot?78838771#iefix') format('embedded-opentype'),
         url('../fonts/fontello/fontello.woff2?78838771') format('woff2'),
         url('../fonts/fontello/fontello.woff?78838771') format('woff'),
         url('../fonts/fontello/fontello.ttf?78838771') format('truetype'),
         url('../fonts/fontello/fontello.svg?78838771#fontello') format('svg');
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    border-radius: 50%;
}
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume-down:before { content: '\e801'; } /* '' */
.icon-volume:before { content: '\e802'; } /* '' */
.icon-volume-up:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-fast-backward:before { content: '\e805'; } /* '' */
.icon-fast-forward:before { content: '\e806'; } /* '' */
.icon-to-start:before { content: '\e807'; } /* '' */
.icon-to-end:before { content: '\e808'; } /* '' */
.icon-pause:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-view-mode:before { content: '\e80c'; } /* '' */
.icon-align-left:before { content: '\e80d'; } /* '' */
.icon-align-center:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-cog-circled:before { content: '\e810'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-list-add:before { content: '\e814'; } /* '' */
.icon-list:before { content: '\e815'; } /* '' */
.icon-up-circled:before { content: '\e816'; } /* '' */
.icon-down-circled:before { content: '\e817'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
