:root {
    --document-scrollbar-y-width: 0px;
    --site-footer-height: 50px;
    --site-color: #fafafa;
    --site-shadow-hover: 0 0 12px rgba(240, 240, 240, 0.5);
    --transition-time-primary: 120ms;
    --transition-time-moving: 240ms;
}

* {
    margin: 0;
    padding: 0;
}

[hidden] {
    display: none !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background: url("../img/Minimalist_Piano.jpg") no-repeat fixed;
    background-size: cover;
    color: var(--site-color);
    font: 12pt/1.25 'Inter', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
}
body.loading {
    overflow-x: hidden;
}

h1 {
    font-family: 'Garet';
    font-size: 55pt;
    text-transform: uppercase;
}
h2 {
    font-size: 28pt;
    font-weight: normal;
}
i {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition:
        color var(--transition-time-primary),
        text-shadow var(--transition-time-primary)
    ;
}

/* Modal window container */
.modal-overlay {
    --modal-padding: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--modal-padding);
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    background: rgb(136, 136, 136, 0.75);
    z-index: 100;
    opacity: 0;
    transition: opacity var(--transition-time-primary);
}
.modal-overlay::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.modal-overlay.active {
    opacity: 1;
}

/* Preloader */
#preloader {
    background: #050505;
    transition-duration: 300ms;
}
#preloader > .movement-area {
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
#preloader > .movement-area > .central-point {
    position: absolute;
    left: 50%;
    top: 52%;
    offset-path: path('M 0 0 C -112 -112, 112 -112, 0 0 C -112 112, 112 112, 0 0');
    offset-rotate: 0deg;
    will-change: transform;
    animation: curved-move-in-eight 5s linear infinite;
}
@supports not (offset-path: path('M 0 0')) {
    #preloader > .movement-area > .central-point {
        /* Альтернативная анимация, если offset-path не поддерживается */
        top: 24%;
        animation: linear-move-in-eight 5s linear infinite;
    }
}
@keyframes curved-move-in-eight {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
@keyframes linear-move-in-eight {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    12.5% {
        transform: translateX(-50px) translateY(41px);
    }
    25% {
        transform: translateX(0) translateY(82px);
    }
    37.5% {
        transform: translateX(50px) translateY(123px);
    }
    50% {
        transform: translateX(0) translateY(164px);
    }
    62.5% {
        transform: translateX(-50px) translateY(123px);
    }
    75% {
        transform: translateX(0) translateY(82px);
    }
    87.5% {
        transform: translateX(50px) translateY(41px);
    }
}
#preloader > .movement-area > .central-point > .symbol {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 60%;
    transform: translate(-50%, -60%);
    font-size: 84pt;
    color: #050505;
    text-shadow: 0 0 15px var(--site-color);
    animation: rotate-preload-symbol 1.2s linear infinite;
}
@keyframes rotate-preload-symbol {
    0%, 100% {
        transform: translate(-50%, -60%) rotateZ(0);
    }
    25% {
        transform: translate(-50%, -60%) rotateZ(-25deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: translate(-50%, -60%) rotateZ(25deg);
        animation-timing-function: linear;
    }
}

/* Player container */
#player-container {
    --common-spacing: 3px;
    --common-border-radius: 36px;
    --common-color-emphase: #0ea109;
    --common-color-warning: 196, 13, 43;
    --player-width: 550px;
    --scroll-elements-opacity: 0;
    min-height: 100%;
    display: flex;
    padding: 50px 0 calc(50px + var(--site-footer-height));
    box-sizing: border-box;

    /*border: 1px solid #f0e006;*/
}
#player-container.justify-right {
    justify-content: flex-end;
}
#player-container.color-black {
    --background-player: linear-gradient(to left top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0));
    --background-artist-name: linear-gradient(to right, #fafafa, #ddd);
    --background-hover1: linear-gradient(to right, rgba(136, 136, 136, 0), rgba(0, 0, 0, 0.75));
    --background-hover2: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
    --background-warning: linear-gradient(to right bottom, var(--color-primary) 50%, #ffd3da);
    --color-primary: var(--site-color);
    --color-secondary: #050505;
    --color-emphase: 0, 126, 230;
    --color-neutral: #555;
    --color-inactive: #888;
    --color-static-artist-name: #333;
    --color-static-track-title: #ccc;
    --color-track-menu: #bbb;
    --color-demarcation-line: #eee;
    --shadow-hover: var(--site-shadow-hover);
    --shadow-hover-artist-name: 0 0 12px rgba(15, 15, 15, 0.5);
    --tracklist-database-button-background: #333;
    --img-invert-filter: 0;
}
#player-container.color-white {
    --background-player: linear-gradient(to left top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255));
    --background-artist-name: linear-gradient(to right, #050505, #222);
    --background-hover1: linear-gradient(to right, rgba(136, 136, 136, 0), rgba(255, 255, 255, 0.75));
    --background-hover2: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 1));
    --background-warning: linear-gradient(to right bottom, var(--color-primary) 50%, #914e59);
    --color-primary: #050505;
    --color-secondary: var(--site-color);
    --color-emphase: 192, 0, 230;
    --color-neutral: #aaa;
    --color-inactive: #888;
    --color-static-artist-name: #ccc;
    --color-static-track-title: #333;
    --color-track-menu: #444;
    --color-demarcation-line: #111;
    --shadow-hover: 0 0 12px rgba(15, 15, 15, 0.5);
    --shadow-hover-artist-name: var(--site-shadow-hover);
    --tracklist-database-button-background: #ccc;
    --img-invert-filter: 0.95;
}

/* Tracklist database (container left side) */
#tracklist-database.container-left-side {
    --tracklist-database-max-width: 480px;
    --tracklist-database-min-width: 330px;
    display: none;
    position: sticky;
    top: 0;
    min-width: var(--tracklist-database-min-width);
    max-width: var(--tracklist-database-max-width);
    width: 100%;
    height: 100%;
    margin-left: calc(
        50% - var(--tracklist-database-max-width) - var(--player-width)/2 + var(--document-scrollbar-y-width)*0.5
    );
    padding: 0 var(--common-spacing);
    box-sizing: border-box;
    color: var(--color-primary);
    text-align: center;

    /*outline: 1px solid;*/
}
#tracklist-database.enabled {
    display: block;
}
#tracklist-database.sticked-left {
    margin-left: 0;
}
#tracklist-database.sticked-left.smooth-moving {
    will-change: margin-left;
    transition: margin-left var(--transition-time-moving) ease-in-out;
}
#tracklist-database.sticked-left.smooth-resize {
    will-change: width;
    transition: width var(--transition-time-moving) ease-in-out;
}

/* Tracklist database title */
#tracklist-database h3#tracklist-database-title {
    --database-title-timing-function: cubic-bezier(.5,-0.7,.82,.48);
    --database-title-active-transition: 0.3s var(--database-title-timing-function);
    position: relative;
    top: -80px;
    margin-bottom: calc(50px - var(--common-spacing));
    font-family: 'Garet';
    font-size: 18pt;
    line-height: 0;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--color-secondary);
    opacity: 0;
    transition:
        color var(--transition-time-primary),
        text-shadow var(--transition-time-primary),
        top var(--database-title-active-transition),
        opacity var(--database-title-active-transition)
    ;

    /*outline: 1px solid;*/
}
#tracklist-database h3#tracklist-database-title.show {
    --database-title-timing-function: cubic-bezier(.18,.52,.5,1.7);
    top: 0;
    opacity: 1;
}
#tracklist-database h3#tracklist-database-title > span {
    display: inline-block;
    line-height: 1.25em;
    text-decoration: underline;
}

/* Tracklists container */
#tracklists-container {
    position: relative;
    max-height: 0;
    margin: 0 calc((-1)*var(--common-spacing));
    padding: var(--common-spacing);
    box-sizing: border-box;
    overflow: auto;

    /*outline: 1px solid #0ea109;*/
}
#tracklists-container.scrollable {
    margin-right: 0;
    padding-right: var(--common-spacing);
}
#tracklists-container.no-animation * {
    transition: none !important;
}

/* Tracklist section */
#tracklists-container > .tracklist-section {
    --tracklist-section-symmetrical-spacing: 6px;
    --tracklist-section-timing-function: ease-out;
    --tracklist-section-active-transition: 0.2s var(--tracklist-section-timing-function);
    --tracklist-section-margin-top: 50px;
    position: relative;
    left: -100%;
    margin-top: var(--tracklist-section-margin-top);
    background: var(--background-player);
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transition:
        left var(--tracklist-section-active-transition),
        opacity var(--tracklist-section-active-transition)
    ;
}
#tracklists-container > .tracklist-section:first-child {
    margin-top: 0;
}
#tracklists-container > .tracklist-section.show {
    --tracklist-section-timing-function: ease-in;
    left: 0;
    opacity: 1;
}
#tracklists-container > .tracklist-section.deleting {
    --delete-animation-margin-top: 0;
    animation: delete-tracklist-section 0.5s linear forwards;
}
@keyframes delete-tracklist-section {
    100% {
        height: 0;
        margin-top: var(--delete-animation-margin-top);
        transform: scaleY(0);
    }
}

/* Tracklist menu */
.tracklist-menu {
    display: table;
    width: 100%;
    min-height: 50px;
}
.tracklist-menu .tracklist-title-box {
    display: table-cell;
    vertical-align: middle;
    padding: 4px var(--tracklist-section-symmetrical-spacing);
    text-align: right;
    overflow-wrap: anywhere;
}
.tracklist-menu .tracklist-title {
    font-size: 13pt;
    cursor: pointer;
    transition:
        color var(--transition-time-primary),
        text-shadow var(--transition-time-primary)
    ;
}
.tracklist-menu .tracklist-title:active,
.tracklist-menu .tracklist-title.key-pressed {
    outline: none;
    text-decoration: underline;
}
.tracklist-menu .buttons-box {
    display: table-cell;
    width: 0;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
}
.tracklist-menu .buttons-box.left {
    padding-left: 1px;
}
.tracklist-menu .buttons-box.right {
    padding-right: 1px;
}
.tracklist-menu .buttons-box > i {
    font-size: 28pt;
}
.tracklist-menu .buttons-box > i.delete-tracklist-tracks,
.keys-info i.delete-tracklist-tracks {
    display: none;
    color: rgb(var(--common-color-warning));
    opacity: 0.7;
}
.tracklist-menu .tracklist-title:hover,
.tracklist-menu .buttons-box > i:not(.delete-tracklist-tracks):hover {
    text-shadow: var(--shadow-hover);
}
.tracklist-menu .buttons-box > i.delete-tracklist-tracks:hover {
    opacity: 1;
    text-shadow: 0 0 12px rgba(var(--common-color-warning), 0.5);
}

/* Tracklist details */
.tracklist-details {
    --cover-width: 120px;
    height: 0px;
    font-size: 11pt;
    transition: height 350ms ease-out;
}
.tracklist-details .strip {
    margin: 0 var(--tracklist-section-symmetrical-spacing);
    background-color: rgba(var(--color-emphase), 0.3);
    text-align: left;
    transition:
        color var(--transition-time-primary),
        background-color var(--transition-time-primary),
        border-color var(--transition-time-primary)
    ;
}
.tracklist-details header.strip {
    border-top: 1px solid rgb(var(--color-emphase));
}
.tracklist-details footer.strip {
    margin-bottom: var(--tracklist-section-symmetrical-spacing);
    border-bottom: 1px solid rgb(var(--color-emphase));
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.tracklist-details .strip > p {
    display: none;
    margin-left: calc(var(--cover-width) + var(--tracklist-section-symmetrical-spacing));
    padding: 3px 0;
}
.tracklist-details.no-cover .strip > p {
    margin-left: var(--tracklist-section-symmetrical-spacing);
}
.tracklist-details input[type="checkbox"] {
    display: none;
}
.tracklist-details input[type="checkbox"] + label {
    display: none;
    width: 11px; height: 11px;
    background-color: var(--color-inactive);
    border: 1px solid var(--color-primary);
    transform: translateY(1px);
    transition:
        background-color var(--transition-time-primary),
        border-color var(--transition-time-primary)
    ;
}
.tracklist-details input[type="checkbox"]:checked + label {
    background-color: rgb(var(--color-emphase));
}
.tracklist-details header.strip input[type="checkbox"] + label {
    position: relative;
}
.tracklist-details header.strip input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    position: absolute;
    left: calc(50% - 7px/2);
    top: calc(50% - 7px/2);
    transition: background-color var(--transition-time-primary);
}
.tracklist-details header.strip input[type="checkbox"].partial-list + label::before {
    background-color: var(--color-neutral);
}
.tracklist-details footer.strip button {
    width: 20px;
    height: 20px;
    background: var(--color-secondary);
    background: var(--color-primary);
    background: rgb(var(--color-emphase));
    border: none;
    border: 1px solid var(--color-primary);
    /*border-radius: 50%;*/
    transform: translateY(0px);
    cursor: pointer;
}
.tracklist-details footer.strip button:active,
.tracklist-details footer.strip button.key-pressed {
    border: 1px solid var(--color-secondary);
}
.tracklist-details footer.strip .manage-tracklist-svg {
    width: 90%;
    height: auto;
    vertical-align: middle;
    color: rgb(var(--color-emphase));
    color: var(--color-primary);
    /*border-radius: 6%;
    transform: translateX(1px);*/
}
.tracklist-details header.strip label > span,
.tracklist-details footer.strip button + label {
    padding-left: 4px;
}
.tracklist-details header.strip label:hover,
.tracklist-details header.strip label:hover + label,
.tracklist-details footer.strip label:hover,
.tracklist-details footer.strip button:hover + label {
    text-decoration: underline;
}

/* Tracklist details - main block */
.tracklist-details .details-main {
    display: flex;
    padding: var(--tracklist-section-symmetrical-spacing);
}
.tracklist-details .cover-box {
    flex: 0 0 var(--cover-width);
    overflow: hidden;
}
.tracklist-details .cover-box > img {
    width: var(--cover-width);
    vertical-align: middle;
}
.tracklist-details .list {
    --list-text-indent: 0px;
    --order-width: 0px;
    flex: 0 1 auto;
    margin-left: calc(var(--tracklist-section-symmetrical-spacing) + var(--list-text-indent));
    list-style-type: none;
    text-align: left;
    text-indent: calc((-1)*var(--list-text-indent));
    transition: color var(--transition-time-primary);
}
.tracklist-details .list > li {
    cursor: text;
}
.tracklist-details .list > li.deleting {
    animation: delete-track 0.5s linear forwards;
}
@keyframes delete-track {
    100% {
        height: 0;
        transform: scaleY(0);
        opacity: 0;
    }
}
.tracklist-details .list > li > label {
    pointer-events: none;
}
.tracklist-details .list .order {
    display: inline-block;
    width: var(--order-width);
    text-align: right;
}
.tracklist-details .list .order > span {
    padding-right: 4px;
}

/* Tracklist database additional contols */
#tracklist-database > .add-controls {
    display: flex;
    margin-top: calc(50px - var(--common-spacing));

    /*outline: 1px solid;*/
}
#tracklist-database > .add-controls > .left-col {
    flex: 0 1 auto;
}
#tracklist-database > .add-controls > .right-col {
    flex: 1 1 auto;
}
#tracklist-database > .add-controls .add-controls-button {
    --clear-playlist-timing-function: cubic-bezier(.5,-0.7,.82,.48);
    --clear-playlist-active-transition: 0.3s var(--clear-playlist-timing-function);
    width: 50px;
    height: 50px;
    margin-right: 4%;
    vertical-align: bottom;
    border-radius: 50%;
    border: none;
    color: var(--color-primary);
    background: var(--background-player);
    cursor: pointer;
    user-select: none;
    transform: scale(0, 0);
    transition:
        box-shadow var(--transition-time-primary),
        transform var(--clear-playlist-active-transition)
    ;
}
#tracklist-database > .add-controls > .left-col > .add-controls-button {
    display: none;
    margin-left: 1px;
}
#tracklist-database > .add-controls .add-controls-button > i {
    font-size: 25pt;
    transform: translate(0.5px, 2px);
    pointer-events: none;
}
#tracklist-database > .add-controls .add-controls-button:last-of-type {
    margin-right: 0;
}
#tracklist-database > .add-controls .clear-playlist-img,
.keys-info .clear-playlist-img {
    width: 32px;
    vertical-align: middle; /* Убрать нижний отступ */
    border-radius: 50%;
    border-top-right-radius: 12%;
    filter: invert(calc(0.95 - var(--img-invert-filter)));
    transition: filter var(--transition-time-primary);
    pointer-events: none;
}
#tracklist-database > .add-controls .clear-playlist-img {
    transform: translate(-2px, 2px);
}
#tracklist-database > .add-controls .create-tracklist-svg,
.keys-info .create-tracklist-svg {
    width: 70%;
    height: auto;
    vertical-align: middle;
    transform: translate(1px, 1px);
    border-radius: 6%;
    color: rgb(var(--color-emphase));
    transition: color var(--transition-time-primary);
}
#tracklist-database > .add-controls .add-controls-button.show {
    --clear-playlist-timing-function: cubic-bezier(.18,.52,.5,1.7);
    transform: scale(1, 1);
}

/* Additional options are active for tracklist database */
#player-container.add-options-active .tracklist-menu i.delete-tracklist-tracks,
.keys-info i.delete-tracklist-tracks {
    display: inline;
}
#player-container.add-options-active .tracklist-details .strip > p {
    display: block;
}
#player-container.add-options-active .tracklist-details .list > li {
    cursor: default;
}
#player-container.add-options-active .tracklist-details .list label {
    pointer-events: auto;
}
#player-container.add-options-active .tracklist-details .list label:hover,
#player-container.add-options-active .tracklist-details .list label:hover + label {
    color: rgb(var(--color-emphase));
    color: var(--common-color-emphase);
}
#player-container.add-options-active .tracklist-details input[type="checkbox"] + label {
    display: inline-block;
}
#player-container.add-options-active .tracklist-details .list .order > span {
    padding: 0 4px;
}
#player-container.add-options-active #tracklist-database > .add-controls > .left-col > .add-controls-button {
    display: inline-block;
}

/* Player */
#player {
    --player-lateral-padding: 20px;
    position: relative;
    height: 100%;
    width: var(--player-width);
    margin-left: calc(50% - var(--player-width)/2 + var(--document-scrollbar-y-width)*0.5);
    padding: 26px var(--player-lateral-padding) 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    background: var(--background-player);
    color: var(--color-primary);
    border-radius: var(--common-border-radius);
    opacity: 0;
}
#player.show {
    transform-origin: 50% 0%;
    animation: show-player 0.18s cubic-bezier(0.3,1,0.5,1.4) forwards;
}
@keyframes show-player {
    0% {
        transform: perspective(1200px) rotate3d(1, 0.75, 0.5, -90deg) scale(50%);
    }
    45% {
        transform: perspective(1200px) rotate3d(1, 0.75, 0.5, 0) scale(50%);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    60% {
        transform: perspective(1200px) rotate3d(1, 0.5, 0.1, -25deg) scale(50%);
        opacity: 1;
        animation-timing-function: cubic-bezier(.6,0,.4,1.35);
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
#player.active {
    opacity: 1;
}
#tracklist-database.enabled + #player {
    margin-left: 0;
}
#player.smooth-moving {
    will-change: margin-left;
    transition: margin-left var(--transition-time-moving) ease-in-out;
}

.selected-track {
    position: relative;
    height: 60px;
    margin-bottom: 24px;
    overflow: hidden;
    transition: color var(--transition-time-primary);
}
.selected-track > #start-info-display {
    position: absolute;
    width: 100%;
    height: inherit;
    font-size: 12pt;
    text-transform: none;
    color: var(--color-primary);
    overflow: auto;
    opacity: 0;
    transition: opacity 750ms, color var(--transition-time-primary);
    scroll-behavior: smooth;
}
.selected-track > #start-info-display > .track {
    color: rgb(var(--color-emphase));
    transition: color var(--transition-time-primary);
}
.selected-track > #start-info-display > .time {
    color: var(--common-color-emphase);
}
.selected-track > #start-info-display.finish-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
}
.selected-track .display {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.selected-track #title-display {
    padding-bottom: 6px;
    font-size: 20pt;
}
.selected-track #artist-display {
    font-size: 11pt;
}

.track-time-info {
    display: flex;
    align-items: center;
    font-size: 10pt;
    margin-bottom: 18px;
}
.track-time-info > .time-display {
    display: inline-block;
    white-space: nowrap;
    transition: color var(--transition-time-primary);
}
.track-time-info > .time-display > div {
    display: inline-block;
    text-align: center;
}
.track-time-info > .time-display > div.digit {
    width: 0.65em;
}
.track-time-info > .time-display > div.divider {
    width: 0.42em;
}
.track-time-info > #time-range {
    display: inline-block;
    position: relative;
    top: 0;
    /*width: 398px;*/
    width: 100%;
    height: 8px;
    margin: 0 12px;
    background-color: var(--color-neutral);
    border-radius: 4px;
    cursor: default;
    overflow: hidden;
    transition: background-color var(--transition-time-primary);
    touch-action: none;
}
.track-time-info > #time-range > #timeline {
    width: 8px;
    height: 100%;
    margin-left: -8px;
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: background-color var(--transition-time-primary);
}
.track-time-info > #time-range > #time-bar {
    width: 1px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(var(--color-emphase));
}

player-controls {
    user-select: none;
}
player-controls i {
    margin: 0 5px;
    font-size: 36pt;
}
player-controls i:hover {
    text-shadow: var(--shadow-hover);
}
player-controls i.icon-fast-forward {
    position: relative;
    left: 7px;
}
player-controls i.icon-fast-backward {
    position: relative;
    left: -7px;
}
player-controls #indicator {
    background-color: var(--color-neutral);
    transition: background-color 500ms;
}
player-controls #indicator.active {
    background-color: rgb(var(--color-emphase));
}
#player.changing-color #indicator {
    transition: background-color var(--transition-time-primary);
}
player-controls .btn-img-wrapper,
.keys-info .btn-img-wrapper {
    display: inline-block;
    padding: 6px;
}
player-controls .circle-background,
.keys-info .circle-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px; /* Чётность должна совпадать с чётностью соотв. свойства эл-та i#volume */
    height: 23px; /* Чётность должна совпадать с чётностью соотв. свойства эл-та i#volume */
    background-color: var(--color-inactive);
    border-radius: 50%;
    transition:
        background-color var(--transition-time-primary),
        box-shadow var(--transition-time-primary)
    ;
}
player-controls .circle-background.active,
.keys-info .circle-background.active {
    background-color: var(--color-primary);
}
player-controls .circle-background.hover {
    box-shadow: var(--shadow-hover);
}
player-controls .circle-background > img,
.keys-info .circle-background > img {
    width: 13px; /* Чётность должна совпадать с чётностью соотв. свойства эл-та .circle-background */
    height: 13px; /* Чётность должна совпадать с чётностью соотв. свойства эл-та .circle-background */
    filter: invert(var(--img-invert-filter));
    transition: filter var(--transition-time-primary);
    user-select: none;
    pointer-events: none;
}
player-controls .volume-container {
    --volume-padding: 6px;
    display: inline-block;
    padding: var(--volume-padding) 0;
}
player-controls i#volume {
    margin: 0;
    padding: var(--volume-padding);
    vertical-align: middle;
    font-size: 17pt;
    color: var(--color-inactive);
}
player-controls i#volume.active {
    color: var(--color-primary);
}
player-controls #volume-range {
    display: inline-block;
    position: relative;
    width: 64px; /* Весь диапазон громкости (не учитывает ширину маркера) */
    height: 5px;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    touch-action: none;
}
player-controls .inactive-range {
    position: relative;
    height: 1px;
    top: 2px;
    background-color: var(--color-inactive);
}
player-controls #volumeline {
    position: relative;
    width: 0;
    height: 5px;
    top: -1px;
    left: 0;
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: background-color var(--transition-time-primary);
}
player-controls #volume-bar {
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    left: 0;
    background-color: var(--color-inactive);
    border-radius: 50%;
    border-left: 1px solid var(--color-inactive);
    transition: background-color var(--transition-time-primary);
}
player-controls #volume-bar.active {
    background-color: var(--color-primary);
}

#playlist-container {
    --playlist-scroll-arrow-height: 12px;
    --scroll-arrow-box-padding: 12px;
    --scroll-arrow-box-height: calc(var(--playlist-scroll-arrow-height) + 2*var(--scroll-arrow-box-padding));
    --playlist-scroll-arrow-color: rgb(var(--color-emphase));
    --playlist-scroll-arrow-shadow: rgb(var(--color-emphase));
    position: relative;
    margin-top: 10px;
    z-index: 1;
}
#playlist-container.scrollable {
    --scroll-arrow-box-height: 0px;
}
#playlist-container .playlist-scroll-arrow-box {
    position: sticky;
    height: var(--playlist-scroll-arrow-height);
    padding: var(--scroll-arrow-box-padding) 0;

    /*outline: 1px solid;*/
}
#playlist-container .playlist-scroll-arrow-box.up {
    top: calc((-1)*var(--scroll-arrow-box-height));
}
#playlist-container .playlist-scroll-arrow-box.down {
    bottom: calc((-1)*var(--scroll-arrow-box-height));
}
#playlist-container .scroll-arrow {
    width: 0;
    margin: 0 auto;
    border-left: 72px solid transparent;
    border-right: 72px solid transparent;
    filter: drop-shadow(0 0 6px var(--playlist-scroll-arrow-shadow));
    cursor: pointer;
    opacity: var(--scroll-elements-opacity);
    transition: opacity var(--transition-time-primary);
}
#player.changing-color .scroll-arrow {
    transition: border-color var(--transition-time-primary);
}
#playlist-container .scroll-arrow.inactive {
    --playlist-scroll-arrow-color: var(--color-inactive);
    --playlist-scroll-arrow-shadow: var(--color-inactive);
    cursor: default;
}
#playlist-container .playlist-scroll-arrow-box.up > .scroll-arrow {
    border-bottom: var(--playlist-scroll-arrow-height) solid var(--playlist-scroll-arrow-color);
}
#playlist-container .playlist-scroll-arrow-box.down > .scroll-arrow {
    border-top: var(--playlist-scroll-arrow-height) solid var(--playlist-scroll-arrow-color);
}

/* Visible playlist area (for focus) */
#visible-playlist-area:focus {
    outline: 1px solid rgba(var(--color-emphase), var(--scroll-elements-opacity));
    box-shadow: 0 0 6px 2px rgba(var(--color-emphase), calc(var(--scroll-elements-opacity) * 75%));
    border-radius: 6px;
}
#player.changing-color #visible-playlist-area:focus {
    outline: none;
    transition: box-shadow var(--transition-time-primary);
}

/* Playlist limiter */
#playlist-limiter {
    --track-height: 54px;
    --visible-tracks: 0;
    height: calc(var(--track-height) * var(--visible-tracks));
    overflow: hidden;
    touch-action: none;

    /*outline: 1px solid;*/
}

/* Playlist */
#playlist {
    position: relative;
    width: calc(var(--player-width) - var(--player-lateral-padding)*2);
    white-space: nowrap;
}
#playlist.smooth {
    text-align: center;
}
#playlist.strict {
    text-align: left;
}

/* Track */
#playlist > .track {
    height: var(--track-height);
    position: relative;

    /*border: 1px solid #914e59;
    box-sizing: border-box;*/
}
#playlist > .track.not-ready {
    height: 0;
    transform: scale(0, 0);
    opacity: 0;
    pointer-events: none;
}
#playlist > .track.adding {
    animation: add-track 0.5s ease-out forwards;
}
@keyframes add-track {
    100% {
        height: var(--track-height);
        opacity: 1;
        transform: scale(1, 1);
    }
}
#playlist > .track.removing {
    left: 0;
    pointer-events: none;
    animation: remove-track 0.5s ease-out forwards;
}
@keyframes remove-track {
    50% {
        height: var(--track-height);
        left: calc(100% + var(--player-lateral-padding));
        top: 0;
        margin-top: 0;
        transform: scale(1, 1);
        opacity: 1;
        animation-timing-function: linear; /* Работает с текущего ключевого кадра */
    }
    100% {
        height: var(--track-height);
        left: calc(100% + var(--player-lateral-padding));
        top: calc(var(--track-height)/2);
        margin-top: calc((-1)*var(--track-height));
        transform: scale(1, 0);
        opacity: 0;
    }
}

/* Track additionals */
#playlist > .track > .additionals {
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
    user-select: none;

    /*outline: 1px solid;*/
}
#player-container.add-options-active #playlist > .track > .additionals {
    left: 0;
}
#playlist > .track > .additionals::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#playlist > .track > .additionals > i.remove-track,
.keys-info i.remove-track {
    display: none;
    margin-left: 1px;
    margin-right: 5px;
    vertical-align: middle;
    color: rgb(var(--common-color-warning));
    font-size: 12pt;
    opacity: 0.7;
    border-radius: 50%;
    cursor: pointer;
}
#playlist > .track > .additionals > i.remove-track:hover {
    opacity: 1;
    text-shadow: 0 0 12px rgba(var(--common-color-warning), 0.5);
}
#player-container.add-options-active #playlist > .track > .additionals > i.remove-track,
.keys-info i.remove-track {
    display: inline-block;
}
#playlist > .track > .additionals > .loading-figure {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: var(--color-primary);
    border-radius: 50%;
    animation: scaling-load-fig 1.5s ease-in-out infinite;
    visibility: hidden;
}
#playlist.smooth > .track > .additionals > .loading-figure {
    margin-left: 0;
}
#playlist.strict > .track > .additionals > .loading-figure {
    margin-left: var(--common-spacing);
}
#playlist > .track.loading > .additionals > .loading-figure {
    visibility: visible;
}
@keyframes scaling-load-fig {
    0%, 100% {
        background-color: var(--color-primary);
        transform: scale(1);
    }
    50% {
        background-color: var(--background-player);
        transform: scale(0)
    }
}

/* Track info box */
#playlist > .track > .track-info-box {
    --track-info-box-left: 10.5%;
    position: absolute;
    left: var(--track-info-box-left);
    right: var(--track-info-box-left);
    top: var(--common-spacing);
    bottom: var(--common-spacing);
    transition:
        left var(--transition-time-primary),
        right var(--transition-time-primary)
    ;

    /*outline: 1px solid #e7e409;*/
}
#playlist.smooth > .track.selected > .track-info-box {
    --track-info-box-left: 8.5%;
}

/* Artist name */
#playlist > .track > .track-info-box > .artist-name-limiter {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 8px);
    padding-left: 8px;
    color: var(--color-static-artist-name);
    font-size: 9pt;
    font-weight: light;
    line-height: 17px;
    overflow: hidden;
    z-index: 1;
    transition:
        font-size var(--transition-time-primary),
        color var(--transition-time-primary)
    ;

    /*outline: 1px solid #e70b0b;*/
}
#playlist > .track.selected > .track-info-box > .artist-name-limiter {
    color: var(--color-secondary);
}
#playlist.smooth > .track.selected > .track-info-box > .artist-name-limiter {
    font-size: 10pt;
    line-height: 18px;
}
#playlist > .track.loading > .track-info-box > .artist-name-limiter {
    color: var(--color-inactive);
}
#playlist > .track.no-color-transition > .track-info-box > .artist-name-limiter {
    transition: font-size var(--transition-time-primary);
}
#playlist.smooth > .track > .track-info-box > .artist-name-limiter {
    padding-left: calc(8px - var(--common-spacing));
    mask-image: linear-gradient(to right, currentColor 92%, transparent 100%);
}
#playlist.strict > .track > .track-info-box > .artist-name-limiter {
    text-overflow: ellipsis;
}
#playlist > .track > .track-info-box > .artist-name-limiter.visible {
    mask-image: none;
    overflow: visible;
}
#playlist > .track > .track-info-box > .artist-name-limiter > .artist-name {
    padding: 1px 4px;
    background: var(--background-artist-name);
    border-radius: 4px;
    cursor: pointer;
    transition: text-shadow var(--transition-time-primary);
}
#playlist > .track > .track-info-box > .artist-name-limiter > .artist-name.hover {
    text-shadow: var(--shadow-hover-artist-name);
}
#playlist.strict > .track.selected > .track-info-box > .artist-name-limiter > .artist-name {
    box-shadow: inset 0 0 var(--common-spacing) 1px rgba(var(--color-emphase), 0.75);
}
#player.changing-color #playlist.strict > .track.selected > .track-info-box > .artist-name-limiter > .artist-name {
    transition:
        text-shadow var(--transition-time-primary),
        box-shadow var(--transition-time-primary)
    ;
}

/* Track title */
#playlist > .track > .track-info-box > .track-title-limiter {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: calc(100% - var(--common-spacing));
    padding: var(--common-spacing);
    padding-right: 0;
    color: var(--color-static-track-title);
    font-size: 13pt;
    font-weight: normal;
    line-height: 27px;
    overflow: hidden;
    transition:
        bottom var(--transition-time-primary),
        font-size var(--transition-time-primary),
        color var(--transition-time-primary)
    ;

    /*outline: 1px solid #0ea109;*/
}
#playlist > .track.selected > .track-info-box > .track-title-limiter {
    color: var(--color-primary);
    font-weight: bold;
}
#playlist.smooth > .track.selected > .track-info-box > .track-title-limiter {
    bottom: 3px;
    font-size: 14pt;
    line-height: 29px;
}
#playlist > .track.loading > .track-info-box > .track-title-limiter {
    color: var(--color-inactive);
}
#playlist > .track.no-color-transition > .track-info-box > .track-title-limiter {
    transition:
        bottom var(--transition-time-primary),
        font-size var(--transition-time-primary)
    ;
}
#playlist.smooth > .track > .track-info-box > .track-title-limiter {
    padding-left: 0;
    mask-image: linear-gradient(to right, currentColor 92%, transparent 100%);
}
#playlist.strict > .track > .track-info-box > .track-title-limiter {
    text-overflow: ellipsis;
}
#playlist > .track > .track-info-box > .track-title-limiter.visible {
    mask-image: none;
    overflow: visible;
}
#playlist > .track > .track-info-box > .track-title-limiter > .track-title {
    padding: 3px 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: text-shadow var(--transition-time-primary);
}
#playlist > .track > .track-info-box > .track-title-limiter > .track-title.hover {
    text-shadow: var(--shadow-hover);
    background-image: var(--background-hover1);
}
#playlist.strict > .track.selected > .track-info-box > .track-title-limiter > .track-title {
    outline: 1px solid rgb(var(--color-emphase));
    box-shadow: 0 0 var(--common-spacing) 1px rgba(var(--color-emphase), 0.75);
}
#player.changing-color #playlist.strict > .track.selected > .track-info-box > .track-title-limiter > .track-title {
    transition:
        text-shadow var(--transition-time-primary),
        outline var(--transition-time-primary),
        box-shadow var(--transition-time-primary)
    ;
}

/* Track load info */
#playlist > .track > .track-info-box > .load-info {
    position: absolute;
    color: rgb(var(--color-emphase));
    font-size: 7pt;
    font-weight: lighter;
    text-align: right;
    text-transform: none;
    opacity: 1;
    transition:
        top var(--transition-time-primary),
        color var(--transition-time-primary),
        opacity 5s
    ;

    /*outline: 1px solid #0ea109;*/
}
#playlist.smooth > .track > .track-info-box > .load-info {
    left: calc(8px - var(--common-spacing));
    right: var(--common-spacing);
    top: 36px;
}
#playlist.smooth > .track.selected > .track-info-box > .load-info {
    left: calc(8px - var(--common-spacing));
    right: var(--common-spacing);
    top: 37px;
}
#playlist.strict > .track > .track-info-box > .load-info {
    left: 8px;
    right: 0;
    top: 40px;
}
#playlist > .track > .track-info-box > .load-info > .progress {
    width: 0%;
    height: 0;
    text-align: center;
    border-top: 1px solid rgb(var(--color-emphase));
    transition: border-top var(--transition-time-primary);
}
#playlist.strict > .track.selected > .track-info-box > .load-info > .progress {
    border-top-color: var(--color-primary);
}
#playlist > .track > .track-info-box > .load-info > .progress > .status {
    display: inline-block;
    position: relative;
    padding: 0 2px;
    background: var(--load-info-background-color);
}
#playlist > .track > .track-info-box > .load-info > .display-progress {
    display: inline-block;
    width: 22px;
    position: relative;
    padding-left: 1px;
    padding-right: 2px;
    text-align: right;
}
#playlist.smooth > .track > .track-info-box > .load-info > .progress > .status,
#playlist.smooth > .track > .track-info-box > .load-info > .display-progress {
    top: 0;
}
#playlist.strict > .track > .track-info-box > .load-info > .progress > .status,
#playlist.strict > .track > .track-info-box > .load-info > .display-progress {
    top: -7px;
    background-color: var(--color-secondary);
    transition: background-color var(--transition-time-primary);
}

/* Track context menu */
.track-menu {
    position: absolute;
    padding: 6px 4px;
    background-color: var(--color-track-menu);
    color: var(--color-secondary);
    text-transform: none;
    white-space: nowrap;
    z-index: 3;
    border-radius: 8px;
    border-top-left-radius: 0;
}
.track-menu > .menu-item {
    padding: 2px 4px;
    border-radius: 5px;
    border-top-left-radius: 0;
    cursor: pointer;
    user-select: none;
}
.track-menu > .menu-item:hover {
    background: var(--background-hover2);
    color: var(--color-primary);
    opacity: 0.75;
}

/* Player footer */
.player-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 48px;
    margin: auto;
    box-sizing: border-box; /* Для учитывания border-top в расчётах общей высоты при загрузке страницы */
    border-top: 2px solid var(--color-neutral);
    transition: border-color var(--transition-time-primary);
}
.player-footer .left-col {
    flex: 1 1 0;
    text-align: left;
    user-select: none;
}
.player-footer .center-col {
    flex: 1 1 0;
    line-height: 1em;
}
.player-footer .right-col {
    flex: 1 1 0;
    text-align: right;
    user-select: none;
}
.player-footer .config-wrapper {
    display: inline-block;
}
.player-footer .config-wrapper.rotate {
    animation: rotate-config-button 500ms;
}
@keyframes rotate-config-button {
    100% {
        transform: rotate(1turn);
    }
}
.player-footer i {
    padding: 6px;
    color: var(--color-primary);
    font-size: 17pt;
}
.player-footer i:hover {
    text-shadow: var(--shadow-hover);
}
.player-footer .version {
    font-size: 8pt;
    font-weight: light;
    text-transform: none;
    color: rgb(var(--color-emphase));
    transition: color var(--transition-time-primary);
}

.tracklist-database-button-container {
    --default-width: 36px;
    --default-height: 120px;
    width: var(--default-width);
    height: var(--default-height);
    position: absolute;
    left: 0;
    top: var(--common-border-radius);
    overflow: hidden;
}
.keys-info .tracklist-database-button-container {
    --default-width: 24px;
    --default-height: 80px;
    position: relative;
    left: calc(50% - 24px/4);
    top: 0;
}
.tracklist-database-button {
    width: 100%;
    height: 100%;
    position: relative;
    left: calc(var(--default-width)/(-2));
    background: var(--tracklist-database-button-background);
    border-top-right-radius: var(--default-width);
    border-bottom-right-radius: var(--default-width);
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-time-primary);
}
.tracklist-database-button > i {
    position: absolute;
    left: 14px;
    top: calc(50% - 0.625em + 0.5px);
    font-size: 15pt;
    transform-origin: calc(50% + 0.5px) 45%;
    transition: text-shadow var(--transition-time-primary);
}
#player.changing-color .tracklist-database-button > i {
    transition:
        color var(--transition-time-primary),
        text-shadow var(--transition-time-primary)
    ;
}
.keys-info .tracklist-database-button > i {
    left: 9px;
    color: var(--color-primary);
    font-size: 10pt;
}
.tracklist-database-button.enabled > i {
    transform: rotateY(180deg);
}
.tracklist-database-button:hover > i {
    text-shadow: var(--shadow-hover);
}
.tracklist-database-button:active,
.tracklist-database-button.key-pressed {
    box-shadow: 0 0 4px 0 rgb(var(--color-emphase));
}
.tracklist-database-button:active > i,
.tracklist-database-button.key-pressed > i {
    color: rgb(var(--color-emphase));
}
.tracklist-database-button.waiting > i {
    color: rgb(var(--color-emphase));
    animation: rotate-arrow var(--transition-time-moving) linear infinite;
}
@keyframes rotate-arrow {
    100% {
        transform: scale(80%) rotateY(0) rotateZ(1turn);
    }
}

.container-right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    /*border: 1px solid;*/
}
.container-right-side.justify-space-between {
    justify-content: space-between;
}

#settings-area {
    position: sticky;
    top: 0;
    padding: 0 var(--common-spacing);
    color: var(--site-color);
    text-align: center;
    text-transform: none;
    z-index: 2;
    opacity: 0;
    transition: opacity var(--transition-time-primary);

    /*border: 1px solid;*/
}
#settings-area.active {
    opacity: 1;
}
#settings-area h3#settings-title {
    margin-bottom: 5px;
    color: var(--color-primary);
    font-family: 'Garet';
    font-size: 18pt;
    line-height: 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 0 0 10px var(--color-secondary);
    transition:
        color var(--transition-time-primary),
        text-shadow var(--transition-time-primary)
    ;
}
#settings-area h3#settings-title > span {
    display: inline-block;
    line-height: 1.25em;
    text-decoration: underline;
}
#settings-area > #current-playlist {
    height: calc(18 * 1.2em); /* Количество строк * на высоту строки */
    line-height: 1.2em;
    padding: 0 5px;
    font-size: 10pt;
    word-break: break-all;
    resize: none;
    overflow: auto;
}
#settings-area > .setting-section {
    height: 23px;
    margin: 2px 0;
    padding: 4px;
    background-color: rgb(var(--color-emphase));
    text-align: right;
    transition: background-color var(--transition-time-primary);
}
#settings-area label {
    font-size: 11pt;
    vertical-align: middle;
}
#settings-area input {
    vertical-align: middle;
}
#settings-area input[type="number"] {
    width: 38px;
    padding: 2px;
}
#settings-area .input-box {
    display: inline-block;
    width: 46px;
    text-align: center;
}
#settings-area > .default-settings {
    margin-top: 10px;
    padding: 4px;
}
#settings-area > .default-settings > i {
    font-size: 11pt;
}
#settings-area > .close-button {
    position: absolute;
    right: 2px;
    bottom: 2px;
    color: var(--site-color);
}
#settings-area > .close-button:hover {
    text-shadow: var(--site-shadow-hover);
}

#document-scroll-arrows-container {
    position: sticky;
    bottom: 0;
    width: max-content;
    z-index: 1;
}
#document-scroll-arrows-container.fixed-height {
    padding-bottom: calc(20pt*1.25 + 6px*2 + 8px);
}
#document-scroll-arrows-container.fixed-width {
    width: calc(20pt*1.25 + 6px*2 + 8px*2);
}
#document-scroll-arrows-container .arrow-box {
    margin: 8px;
}
#document-scroll-arrows-container i.scroll-arrow {
    padding: 6px;
    font-size: 20pt;
    color: rgb(var(--color-emphase));
    cursor: pointer;
    opacity: var(--scroll-elements-opacity);
    transition: background-color var(--transition-time-primary);
}

#keys-info-window > .keys-info {
    --assigned-keys-width: 240px;
    --key-info-padding: 40px;
    display: inline-block;
    position: relative;
    min-width: 300px;
    max-width: 1400px;
    padding: var(--key-info-padding);
    vertical-align: middle;
    box-sizing: border-box;
    background: linear-gradient(
        to right,
        var(--color-primary) calc(var(--assigned-keys-width) + var(--key-info-padding) - 100px),
        var(--color-demarcation-line) calc(var(--assigned-keys-width) + var(--key-info-padding)),
        var(--color-primary) calc(var(--assigned-keys-width) + var(--key-info-padding) + 100px)
    );
    color: var(--color-secondary);
    white-space: normal;
    border-radius: var(--common-border-radius);
    transition: all var(--transition-time-primary);
}
#keys-info-window > .keys-info > .inner-scroll {
    min-height: 50px;
    max-height: calc(100vh - var(--modal-padding)*2 - var(--key-info-padding)*2);
    overflow-y: auto;
}
.keys-info h2 {
    margin-bottom: 5px;
    color: var(--common-color-emphase);
    font-family: 'Garet';
    font-weight: bolder;
    background: rgba(var(--color-emphase), 0.1);
}
.keys-info section {
    display: table;
    margin-bottom: 5px;
    width: 100%;
    background-color: rgba(var(--color-emphase), 0.1);
    text-transform: none;
    transition: background-color var(--transition-time-primary);
}
.keys-info section:last-of-type {
    margin-bottom: 0;
}
.keys-info .assigned-keys {
    display: table-cell;
    width: var(--assigned-keys-width);
    min-width: var(--assigned-keys-width);
    padding: 5px;
    background-color: rgba(var(--color-emphase), 0.3);
    font-size: 22pt;
    text-align: center;
    vertical-align: middle;
    transition: background-color var(--transition-time-primary);
}
.keys-info .assigned-keys img {
    height: 40px;
    vertical-align: middle;
}
.keys-info .assigned-keys img[alt="Key Space"] {
    width: 150px;
}
.keys-info .assigned-keys img[alt="Key NumpadAdd"] {
    width: 40px;
    height: auto;
}
.keys-info figure {
    display: inline-block;
    font-size: 8pt;
    text-transform: uppercase;
    vertical-align: 5px;
}
.keys-info .relevant-functions {
    display: table-cell;
    vertical-align: middle;
}
.keys-info .row {
    display: table;
    width: 100%;
    min-height: 60px;
    border-bottom: 2px solid rgba(var(--color-emphase), 0.1);
}
.keys-info .row:last-child {
    border-bottom: none;
}
.keys-info .icon {
    display: table-cell;
    min-width: 80px;
    padding: 5px 0;
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;
}
.keys-info .icon-background {
    display: inline-block;
    position: relative;
    padding: 3px;
    vertical-align: middle;
    background: var(--color-secondary);
    color: var(--color-primary);
}
.keys-info .icon-background.small-size {
    line-height: 0.625em;
    width: 0.8em;
}
.keys-info .icon i,
.keys-info .icon div {
    cursor: default;
    pointer-events: none;
}
.keys-info .description {
    display: table-cell;
    width: 100%;
    font-size: 14pt;
    text-align: justify;
    vertical-align: middle;
    padding-right: 12px;
}
.keys-info .description > p {
    margin: 7px 0;
}
.keys-info .emphase-1 {
    color: var(--common-color-emphase);
}
.keys-info .emphase-2 {
    color: rgb(var(--color-emphase));
    background: rgba(254, 255, 173, 0.85);
}
.keys-info .emphase-3 {
    text-decoration: underline 1px solid rgb(var(--color-emphase));
    text-shadow: 1px 1px 2px rgba(var(--color-emphase), 0.3);
}
.keys-info .emphase-4 {
    text-decoration: underline 1px solid rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.3);
}
.keys-info > .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-primary);
    filter: invert(100%);
}

#tracklist-deletion > .dialog-box {
    --dialog-box-inner-margin: 20px;
    --dialog-box-padding: 40px;
    display: inline-block;
    position: relative;
    width: 700px;
    padding: var(--dialog-box-padding);
    vertical-align: middle;
    box-sizing: border-box;
    background: var(--background-warning);
    color: var(--color-secondary);
    font-size: 12pt;
    white-space: normal;
    border: 2px solid rgb(var(--common-color-warning));
    border-radius: var(--common-border-radius);
    transition: all var(--transition-time-primary);
}
#tracklist-deletion > .dialog-box > .inner-scroll {
    min-height: 50px;
    max-height: calc(100vh - var(--modal-padding)*2 - var(--dialog-box-padding)*2);
    overflow-y: auto;
}
#tracklist-deletion .inner-scroll > :nth-child(n):not(:first-child, :last-child) {
    margin-bottom: var(--dialog-box-inner-margin);
}
#tracklist-deletion #tracklist-deletion-title {
    margin-bottom: calc(var(--dialog-box-inner-margin)*2);
    color: rgb(var(--color-emphase));
    font-size: 16pt;
    text-shadow: 0 0 10px rgba(var(--color-emphase), 0.3);
    transition:
        color var(--transition-time-primary),
        text-shadow var(--transition-time-primary)
    ;
}
#tracklist-deletion #tracklist-deletion-description::after {
    content: ':'
}
#tracklist-deletion #tracklist-deletion-description.period::after {
    content: '.'
}
#tracklist-deletion .deleting-tracks-number {
    color: rgb(var(--color-emphase));
}
#tracklist-deletion .target-tracklist {
    color: rgb(var(--color-emphase));
    font-weight: bold;
}
#tracklist-deletion .target-tracklist::before {
    content: '«';
}
#tracklist-deletion .target-tracklist::after {
    content: '»';
}
#tracklist-deletion .target-tracklist::before,
#tracklist-deletion .target-tracklist::after {
    position: relative;
    bottom: 0.05em;
}
#tracklist-deletion ul.deleting-tracks {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 11pt;
    color: rgb(var(--common-color-warning));
    text-align: left;
    list-style-type: none;
}
#tracklist-deletion ul.deleting-tracks > li {
    position: relative;
    padding-left: 27px;
}
#tracklist-deletion ul.deleting-tracks > li:before {
    content: "\26D4";
    position: absolute;
    left: 0;
    top: 0;
}
#tracklist-deletion .warning-info {
    margin-top: calc(var(--dialog-box-inner-margin)*1.8);
    color: rgb(var(--common-color-warning));
    font-weight: bold;
}
#tracklist-deletion .warning-info > span {
    font-size: 18pt;
    font-weight: lighter;
}
#tracklist-deletion .buttons-box {
    margin-bottom: 0 !important;
}
#tracklist-deletion .buttons-box > button {
    width: 82px;
    padding: 4px;
    font-weight: bold;
}
#tracklist-deletion .button-ok > span {
    color: var(--common-color-emphase);
}
#tracklist-deletion .button-ok.inactive > span {
    color: var(--color-inactive);
}
#tracklist-deletion .button-cancel > span {
    color: rgb(var(--common-color-warning));
}
#tracklist-deletion .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-primary);
    filter: invert(100%);
}

.close-button {
    font-size: 20pt;
    opacity: 0.5;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.close-button:hover {
    opacity: 1;
    text-shadow: var(--shadow-hover);
}

#player-container i:not(.icon-fast-forward, .icon-fast-backward, .icon-left-open):active,
#tracklist-database > .add-controls .add-controls-button:active,
.key-pressed:not(.tracklist-title, #tracklist-database-button) {
    outline: 1px solid currentColor;
}

#tooltip {
    position: fixed;
    left: 300px;
    margin-top: 5px;
    padding: 2px 5px;
    background: var(--background-hover2);
    color: var(--color-primary);
    font-size: 10pt;
    text-transform: none;
    border: 1px rgb(var(--color-emphase));
    border-radius: 4px;
    z-index: 4;
    opacity: 0;
    transition:
        opacity var(--transition-time-primary),
        margin-top var(--transition-time-primary)
    ;
    pointer-events: none;
}

.sheen-fx {
    position: relative;
    overflow: hidden;
}
.sheen-fx::after {
    content: '';
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -50%;
    right: -50%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1) 15%,
        rgba(var(--color-emphase), 0.5) 50%,
        rgba(255, 255, 255, 0.1) 85%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: rotateZ(58deg) translate(-5em, 4.4em);
    opacity: 0;
}
.sheen-fx:hover::after {
    animation: sheen 0.8s ease-in-out forwards;
}
@keyframes sheen {
    15%, 85% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateZ(58deg) translate(5em, -4.4em);
    }
}

footer.page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--site-footer-height);
    text-align: center;
    font-size: 10pt;
    line-height: 1.5em;
}

@media (hover: hover) and (pointer: fine) { /* For desktop */
    #tracklist-database > .add-controls .add-controls-button:hover {
        box-shadow: var(--site-shadow-hover);
    }
    #document-scroll-arrows-container i.scroll-arrow:hover {
        background-color: var(--color-secondary);
    }
}
@media (hover: none) and (pointer: coarse) { /* For mobile */
    #tracklist-database > .add-controls .add-controls-button:active {
        box-shadow: var(--site-shadow-hover);
    }
    #document-scroll-arrows-container i.scroll-arrow:active {
        background-color: var(--color-secondary);
    }
}

@media screen and (orientation: portrait) {
    h2 {
        font-size: 20pt;
    }
    .keys-info .description {
        font-size: 11pt;
    }
}
